* {
  box-sizing: border-box;
}

body {
  background-image: url("bodybg.jpg");
  background-size: cover;
  background-color: #200046;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Cambria', 'sans-serif';
}

.header{
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--dark);
}
.topnav {
  background-color: transparent;
  overflow: hidden;
}

.topnav h1 {
  float: center;
  color:var(--white);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top:1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.kursi {
  background-color: #444451;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top:1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.kursi:nth-of-type(1) {
  margin-right: 22px;
}
.seat.selected {
  background-color: #00ff0d;
}

.seat.occupied {
  background-color: #ff0000;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.3);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1.1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px 5px;
}

.screen {
  background-color: rgb(255, 255, 255);
  background-size: contain;
  height: 100px;
  width: 300px;
  margin: 15px 0;
  transform: rotateX(-65deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
  
}
.screen h1 {
  transform: rotateX(-45deg);
  font-family: cambria;
  color:#242333;
  text-align:center;
  margin:auto;
}
p.text {
  margin: 5px 0;
  text-align: center;
}

p.text span {
  color: #6feaf6;
}

.btn{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  line-height: 1.5;
  user-select: none;
  border: none;
  text-align: center;
  border: 2px solid var(--main-color);
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
}